[Unit]
Description=allocate cache ways for RT application

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/cache_allocator.sh

[Install]
WantedBy=basic.target
